<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>FlipTable Login</title>
</head>

<!-- Same as edit profile only not pre-populated -->
<!-- create user button -->

<body class="container bg-light">
    <div class="col-12">
        <h1 class="text-center mt-3 mb-5"><img class="big-book" src="static/book.png" alt="Book Icon"> favebooks</h1>
    </div>
    <div class="col-12 mt-5">
        <div class="row">
            <div class="col-4 offset-1 mb-3">
                <h2 class="form-label text-center text-primary">Register</h2>
                <form action="/user/create" method="POST" class="row">
                    {%csrf_token%}
                    <div class="col-md-6 mb-3">
                        <label for="first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="first_name">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="last_name">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password_conf" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="password_conf">
                    </div>
                    <div class="col-12mb-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>


</body>
</html>